<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {% if site.google_tag_manager %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
	{% if site.facebook_comments %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}

  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

<script type="text/javascript">
(function(w, d, a){
  w.__beusablerumclient__ = {
    load : function(src){
      var b = d.createElement("script");
      b.src = src; b.async=true; b.type = "text/javascript";
      d.getElementsByTagName("head")[0].appendChild(b);
    }
  };w.__beusablerumclient__.load(a);
})(window, document, '//rum.beusable.net/script/b181230e234956u971/94ff021938');
</script>


  {% include footer.html %}
</body>
</html>
