---
layout: page
permalink: /magazine/
title: 매거진
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name | slugize }}"></div>
    
    
    <h3 class="category-head"><strong>{{ category_name }}</strong></h3>
    <p classs="category-amount">{{ category | last | size }}개의 글</p>
  

    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a style= "text-decoration: none !important;" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
    <hr/>
  </div>
{% endfor %}
</div>