<footer class="center">


  <div class="measure">
    {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    <p class="myself">
      Seung Huh <br>
      <small>{{site.email}}</small>
    </p>
    <p class="copyright">
    	Seung &copy; 2020
    </p>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
