{% if paginator.total_pages != 1 %}
<div class="container clearfix mb1 mt4">
   
    <ul class="pagination" role="navigation">
      <!-- 왼쪽 화살표 -->
      <div class="left">
      {% if paginator.previous_page %}
        
      {% if paginator.page == 2 %}
        
        <li id="page-prev">
        <a class="pagination-item" href="{{ site.baseurl }}/">{ site.text.pagination.newer }}</a>
        </li>
      {% else %}
        <li id="page-prev">
        <a class="pagination-item" href="{{ paginator.previous_page_path }}">{{ site.text.pagination.newer }}</a>
        </li>
      {% endif %}
    {% else %}
      <li id="page-prev" class="disabled">
      <span class="pagination-item">{{ site.text.pagination.newer }}</span>
      </li>

    {% endif %}
    </div>
      <!-- 오른쪽화살표 -->
    <div class="right"> 
    {% if paginator.next_page %}
      
      <li id= "page-next"
      <a class="pagination-item" href="{{ paginator.next_page_path }}">{{ site.text.pagination.older }}</a>
      </li>
    {% else %}
      <li id="page-next" class= "disabled">
      <span class="pagination-item">{{ site.text.pagination.older }}</span>
      </li>
    {% endif %}
    </div>
      <!-- 페이지 번호 -->
      <div class="pagination-meta">
       {% for i in (1..paginator.total_pages) %}
        {% if i == paginator.page %}
        <li class="page-number active">
        {{ i }}
        </li>
        {% elsif i == 1 %}
        <li class="page-number">
          <a href="{{ site.url }}">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-number">
          <a href="{{ site.url }}{{ site.paginate_path | replace: ':num', i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </div>
    <!-- 번호끝 -->
    </ul>
    
</div>
{% endif %}
