{% if paginator.total_pages != 1 %}
<div class="pagination clearfix mb1 mt4 sr-only" >
  <ul class="pagination" role="navigation">
    <!-- 왼쪽 화살표 기능 -->
     <div class="left">
     {% if paginator.previous_page %}
        {if paginator.page == 2 %}
        <li id="page-prev">
          <a href="{{ site.baseurl }}/">nn</a>
        </li>
        {% else %}
        <li id="page-prev">
          <a href="{{ paginator.previous_page_path }}"><span class="sr-only">previous</span></a>
         {% endif %}

    {% else %}
        <li id="page-prev" class="disabled"><span class="sr-only">{{ site.text.pagination.disablednewer }}</span></li>
    {% endif %}
    </div>
    <!-- 왼쪽 끝 -->
    <!-- 오른쪽 화살표 기능 -->
      <div class="right">
        {% if paginator.next_page %}
        <li id="page-next">
          <a href="{{ paginator.next_page_path }}"><span class="sr-only">next</span></a>
        </li>
        {% else %}
        <li id="page-next" class="disabled">
          <span class="sr-only">{{ site.text.pagination.disabledolder }}</span>
        </li>
        {% endif %}
       </div>
      <!--오른쪽 끝  -->
      <!-- 안쪽 내용 -->
      <div class="pagination-meta">
       {% for i in (1..paginator.total_pages) %}
        {% if i == paginator.page %}
        <li class="page-number active">{{ i }}</li>
        {% elsif i == 1 %}
        <li class="page-number"><a href="{{ site.url }}">{{ i }}</a></li>
        {% else %}
        <li class="page-number"><a href="{{ site.url }}{{ site.paginate_path | replace: ':num', i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    </div>
    <!-- 안쪽 끝 -->
  </ul>
</div>
{% endif %}
