<meta charset= "utf-8">
<div class="py2-1 post-footer">
  <p class="share-page right mb3">
    포스트 공유하기
    <p class="share-links right mt2">
      {% if site.share_facebook %}
        <a class="fa fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.facebook }}"></a>
      {% endif %}

      {% if site.share_twitter %}
        <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.twitter }}"></a>
      {% endif %}
      
      {% if site.share_linkedin %}
      <a class="fa fa-linkedin" href="http://www.linkedin.com/shareArticle?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.linkedin }}"></a>
    {% endif %}
    </p>
  </p>

</div>
