<meta charset= "utf-8">
<div class="py2 post-footer">
  <img src="{{ site.baseurl }}/images/me_uni.JPG" alt="Sean" class="avatar" />
  <p>
    테크와 경험디자인에 빠져 있는 경영학도 입니다.<br>
    프론트 엔드 개발, 강연, 협업에도 관심이 있습니다.
  </p>
  <div class="share-page right mb3">
  {{ site.text.share_buttons.text }}

    <div class="share-links mt2 mlauto">
      {% if site.share_facebook %}
        <a class="fa fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.facebook }}"></a>
      {% endif %}

      {% if site.share_twitter %}
        <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank" title="{{ site.text.share_buttons.twitter }}"></a>
      {% endif %}
    </div>
  </div>
</div>
