.archive-item a,  {
  color: #1e1e1e;
  text-decoration: none;
  
}

.archive-item a:hover, .category-head {
  color: #00c3bd;
  text-decoration: none;
}

.category-nav {
	display: block;
	width: auto;
}
.category-head {
	display : table;
	position: relative;
	width : 50%;
	text-align : left;
	float:left;
	font-size: 1.15rem;
}

.category-amount {
	width : 50%;
	position: relative;
	display: table;
	text-align : right;
	float:left;
}