.archive-item a,  {
  color: #1e1e1e;
  text-decoration: none;
  
}

.archive-item a:hover, .category-head {
  color: #00c3bd;
  text-decoration: none;
}

.category-head {
	display : inline-block;
	width : 50%;
	text-align : left;
}

.category-amount {
	width : 50%;
	display: inline-block;
	text-align : right;
}