a {
  color: $link-color;
  text-decoration: none;
}

a:hover,
a:focus,
a:active{
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
}


button,
.button {
  color: white;
  text-shadow: none;
  background-color : #247BA0;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-color: rgba(36,123,160, 0.8);
  text-decoration : none;
}

.button_post {
  color: white;
  text-shadow: none;
  background-color : #4F95B3;
  text-decoration : none;
}


.button_post_refer {
  color: white;
  text-shadow: none;
  background-color : #4F95B3;
  text-decoration : none;
  padding : 1rem 1rem; 
  font-size : 16px; 
  border-radius: 5px; 
  margin-right : 10px;
}



.button_post:hover,
.button_post:focus,
.button_post:active,
.button_post_refer:hover,
.button_post_refer:focus,
.button_post_refer:active {
  color: white;
  text-shadow: none;
  background-color: rgba(36,123,160, 0.8);
  text-decoration : none;
}

.button_post_a:hover,
.button_post_a:focus,
.button_post_a:active,
.button_post_a:link {
  text-decoration : none !important;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
