@media screen and (max-width: 360px ) {

  
  #back2Top {
    
    position: fixed;
    bottom: 40px;
    right: 20px;

  }

  .button_post_refer{
    padding : 1rem 0.6rem; 
  font-size : 14px; 

  }

}


@media screen and (min-width: 375px ) {

  
  #back2Top {
    
    position: fixed;
    bottom: 40px;
    right: 20px;

  }

  .button_post_refer{
    padding : 1rem 1rem; 
  font-size : 16px; 

  }

}



@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: $h1;
  }

  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: $h4;
  }

  .site-header .site-title {
    font-size: $h3;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }

  blockquote {
    margin: $space-2;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }


  #back2Top {
    
    position: fixed;
    bottom: 40px;
    right: 40px;

  }

}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 16px;
  }

   #back2Top {
    
    position: fixed;
    bottom: 40px;
    right: 40px;

  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 18px;
  }

   #back2Top {
    
    position: fixed;
    bottom: 40px;
    right: 100px;

  }


}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
