* a:hover, a:focus{
  text-decoration : none !important;
  text-decoration-style: none; 
}

.sr-only{
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.pagination {
  margin: 0;
  padding: 33px 0;
  text-align: center;
}

.pagination li {
    display: inline-block;
    list-style: none;
    height: 20px;
    width: 20px;
    color: #1e1e1e;
    font-size: 1rem;
    font-weight:300;
    line-height: 18px;
    vertical-align: middle;
}



.pagination li a {
      color: #1e1e1e;
      width: 100%;
      height: 100%;
      display:block;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-decoration-style: none;
}

.pagination li .pagination-meta a:hover {
      background-color: #e6e6e6;
      border-radius: 4px;
}

.pagination .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}



.pagination .pagination-meta li{
  overflow: hidden;
  opacity: 0.5;
}

.pagination .pagination-meta .active {
      opacity: 1;
}
.pagination li + li {
    margin-left: 10px;
}


#page-prev {
  background: url(/images/arrow-left.png) no-repeat center;
  background-size: 10px 15px;
}
#page-next {
  background: url(/images/arrow-right.png) no-repeat center;
  background-size: 10px 15px;
}



