.sr-only{
  position: absolute
  top: -9999px
  left: -9999px
}
.pagination {
  margin: 0
  padding: 33px 0
  text-align: center

  > li
    display: inline-block
    list-style: none
    height: 20px
    width: 20px
    color: #1e1e1e
    font-size: 14px
    line-height: 18px
    vertical-align: middle

    > a
      color: #1e1e1e
      width: 100%
      height: 100%
      display:block

    &:hover
      background-color: #e6e6e6
      border-radius: 4px

  > li + li
    margin-left: 10px
}
/*
#page-prev {
  background: url(/assets/images/icon_pre.png) no-repeat center
  background-size: 6px 11px
}
#page-next {
  background: url(/assets/images/icon_next.png) no-repeat center
  background-size: 6px 11px
}
*/


/*
.pagination {
  font-size: 1rem;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.pagination a, .pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fafafa;
  border-radius: 0.1875em;
  border: 1px solid #f3f3f3;
  color: #333333;
  padding: 1em 1.5em;
}

.pagination .disabled, .pagination .pagination-meta {
  opacity: 0.5;
}

.pagination .pagination-meta {
  overflow: hidden;
}

.pagination a:hover, .pagination a:focus {
  background: white;
  color: #477dca;
}

.pagination a:active {
  background: #f7f7f7;
}

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
*/