
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}
.post-header {
  text-align : center;
}

.post-footer {
  border-top : 1px solid grey;
  clear: both;
  margin-top: 2rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  height : 100px;
  border-radius: 60%;
  display : inline-block;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  text-align : right;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;

}

/* previous, next page */



.PageNavigation {
  font-size: 16px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: table;
  position: relative;
  height : 150px;
  background-size : cover;
  background-position : 50% 50%;
  width: 50%;
  float: left;
  margin: 2rem 0;
}

.inner_class {
  display: table-cell;
  color : #fff;
  background-color: rgba(0,0,0,.3);
  vertical-align : middle;
  text-align: center;
  padding-top : 3px;
}

.inner_head {
  display: block;
  font-size : 13px;
  font-family: 'Nanum Myeongjo';
}

@media screen and (max-width: 768px) {
    .PageNavigation {

        
        display: block;
        position: relative;
        height : auto;
        font-size: 13px;
    }

  .PageNavigation a {
      display: table;
     position: relative;
      height : 100px;
      background-size : cover;
      background-position : 50% 50%;
      width: 100%;
      float:left;
      margin : 0 0;
  }

  .inner_class {
    color : #fff;
    background-color: rgba(0,0,0,.3);
    vertical-align : middle;
    text-align: center;
    padding-top : 3px;
  }


    .inner_head {
    display: block;
    font-size : 10px;
    font-family: 'Nanum Myeongjo';
  }

}


/* previous, next page end */


/* 관련 글 */

.relatedPosts{

  font-size : 14px;
}

.relatedPosts #rel{
  margin-top : 1rem;
  margin-bottom : 1rem;
  
}

.article_list li{
    list-style : none;
}

.article_list li a{
    color: #1e1e1e;
    text-decoration: none;

}

.article_list li a:hover {
  color: #00c3bd;
  text-decoration: none !important;
}

.article_list li + li {
  margin-top : 0.5rem;
}


.post-category{
  text-align : left;
  font-weight : 700;
  color: #00c3bd;

}

.post-summary {
  display: inline-block;
}
