.share-page {
  text-align : right;
}

.share-links {
  text-align : right;
}

.share-links a.fa {
  width : 20px;
  font-size : 20px;
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2em;
  transition : all 0.5s;
  background-image : none;
}

.share-links a.fa-facebook {
	text-align : center;
 color : #fff;
 background : #3b5998;
}


.share-links a.fa-twitter {
	text-align : center;
 color : #fff;
 background : #00aced;
}

.share-links a.fa-linkedin {
	text-align : center;
 color : #fff;
 background : #007bb6;
}
