html {
  font-size: 16px;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  line-height: 1.8;
}

em {
	color: $mid-gray;
}

.align-center {
	font-size : 0.9rem;
	text-align : center
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
